<div id="<%= dom_id offer %>">
  <p>
    <strong>Title:</strong>
    <%= offer.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= offer.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= offer.user_id %>
  </p>

</div>
