<p style="color: green"><%= notice %></p>
<%# <%= render @offer %z> %>

<% content_for :title, "Oferta de trabajo", class:"text center" %>
<br>
<div class="d-flex justify-content-around">
  <div class="flex-column col-10">
    <div class="mb-3">
      <%= image_tag @offer.images[0], class: 'imagen_ofert mx-auto' %>
    </div>
    <h2 class=""><%= @offer.title %></h2>
    <p class="texto_carta text-justify">
      <strong>Descripcion: </strong><%= @offer.description%><br>
    </p>
  </div>
</div>

<br>

<div class="d-flex justify-content-around"> 

  <div class="d-flex col-10 justify-content-between">
      <div class="d-flex ">
        <%= render 'postulations/counters' %>
      </div>
      <div class="d-flex ">
        <%= render 'postulations/postulations' %>
      </div>
  </div>

</div>
  
  <div class="d-flex justify-content-around">
    <div class="d-flex gap-2 my-5 col-10">
      <%= link_to "Volver a Ofertas", offers_path, class:"btn btn-dark" %>
      <% if user_signed_in? %> 
        <% if current_user.admin? %>
          <%= link_to "Editar esta Oferta", edit_offer_path(@offer), class:"btn btn-dark" %>
          <%= button_to "Eliminar", @offer, class:"btn btn-danger", method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>




